* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
  padding: 20px;
  width: 150px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.menu:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.menu a {
  text-decoration: none;
  color: #4caf50;
  font-size: 1.2em;
  display: block;
}

.menu a p {
  margin: 0;
  padding: 10px 0;
}

.menu a:hover p {
  text-decoration: underline;
}

/* Add specific styles for ship and car */
.menu.ship {
  background-color: #e0f7fa;
}

.menu.car {
  background-color: #fce4ec;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 50px; /* Adjust the height as needed */
}

.nav-right {
  display: flex;
  align-items: center;
}

nav .logOut {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  margin-left: 20px; /* Adjust the margin as needed */
  transition: background-color 0.3s;
}

nav .logOut:hover {
  background-color: #45a049;
}

nav .user,
nav .score {
  margin-left: 20px;
  font-size: 1.2em;
  text-align: center;
}
footer {
  margin-top: 20px;
  text-align: center;
}
.main-menu{
  display: flex;
}
footer button {
  width: 130px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}
#back{
  font-size:0.93em;
}

footer button:hover {
  background-color: #45a049;
}