* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}
div {
  height: 500px;
  width: 250px;
  background-color: bisque;
  display: inline-block;
  margin: 50px;
  border-radius: 25px;
}
p {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 200px 0px;
  font-size: 50px;
  color: rgb(255, 157, 36);
  font-weight: 600;
}
