* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.game {
  width: 650px;
  height: 650px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.card {
  cursor: pointer;
  font-size: 50px;
  color: aqua;
  text-align: center;
  padding: 45px 0px;
  border: blue solid 1px;
}
