* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.game {
  width: 650px;
  height: 650px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.card {
  cursor: pointer;
  font-size: 50px;
  color: aqua;
  border: blue solid 1px;
}
.card img {
  width: 100%;
  height: 100%;
  display: none;
}
.card p {
  position: absolute;
  text-align: center;
  padding: 45px 30px;
}
body {
  display: flex;
}
.side {
  border: 3px black solid;
}
.cardKnow {
  width: 50px;
  height: 50px;
}
.left{
  font-size: 20px;
  display: flex;
}
.cover {
  padding: 15px;
  font-size: 30px;
  background-color: white;
}
.youWin {
  width: 1000px;
  margin-top: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: green;
  background-color: greenyellow;
  font-size: 100px;
  border: 10px solid green;
  padding: 50px;
  text-align: center;
}
.youFailed {
  width: 1000px;
  margin-top: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: red;
  background-color: pink;
  font-size: 100px;
  border: 10px solid red;
  padding: 50px;
  text-align: center;
}
.youFailed button,
.youWin button {
  border-radius: 15px;
  border: 3px blue solid;
  background-color: aqua;
  color: blue;
  font-size: 20px;
  padding: 15px;
  margin-top: 20px;
  width: 150px;
}
