* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  --boardSize: 400px;
}
body {
  display: flex;
  justify-content: center;
}
main {
  display: none;
}
.youre {
  /* padding: 50px 80px; */
  position: absolute;
  top: 100px;
  background-color: #4caf50;
  text-align: center;
  border-radius: 12px;
  box-shadow: black;
}
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin: 50px 80px 0px 80px;
}
.youre button {
  width: 100px;
  height: 100px;
  color: green;
  border-radius: 15px;
  font-size: 50px;
  font-weight: 500;
  background-color: white;
  margin: 60px 30px;
  border: none;
}
.youre button:hover {
  background-color: #dde8dd;
  border: white solid 4px;
}
.board {
  margin-top: 50px;
  display: grid;
  width: var(--boardSize);
  height: var(--boardSize);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 5px solid rgb(56, 157, 56);
}
.cell {
  border: 3px solid rgb(56, 157, 56);
  text-align: center;
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif;
}
.alerts {
  position: absolute;
  display: flex;
  justify-content: center;
}
.youWin {
  display: none;
  width: 700px;
  position: absolute;
  padding: 30px;
  top: 120px;
  background-color: greenyellow;
  border: solid green 5px;
  text-align: center;
  font-size: 45px;
}
.youFailed {
  display: none;
  width: 700px;
  position: absolute;
  top: 120px;
  padding: 30px;
  background-color: pink;
  border: solid red 5px;
  text-align: center;
  font-size: 45px;
}
.youFailed button,
.youWin button {
  padding: 15px 25px;
  border: 3px solid blue;
  background-color: aqua;
  color: blue;
  font-size: 20px;
  font-weight: 600;
}
